body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 28px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas{
    border-radius: 15px;
    box-shadow: 8px 8px 8px grey;
}
